*{
	padding:0;
	margin:0;
}

.end-shell {
	height: 100vh;
	overflow-x: hidden;
	perspective: 3px;
}

.end-shell div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	letter-spacing: 2px;
	margin-bottom: 100px;
}

.end-image {
	transform: translateZ(-1px) scale(1.6);
	background-size: cover;
	height: 500px;
	z-index: -1;
	left: 80px;
	width: 500px;
	margin-bottom: 100px;
	
}

.end-text {
	left:35%;
	width:700px;
	margin-bottom: -100px;
}